#articles-container {
  display: flex;
  flex-direction: column;
  background-color: var(--web-black);
  padding-top: 12px;
  padding-bottom: 12px;
}

#articles-view-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: scroll;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-evenly;
}

#popular-articles-title {
  color: white;
  font-family: var(--font-bold);
  font-size: xx-large;
  align-self: center;
  border-top: 0;
  border-bottom: 2px;
  border-style: solid;
  border-image: linear-gradient(90deg, transparent, white, white, transparent) 1;
}

.article-card {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr ;
  height: 75vh;
  width: auto;
  background-color: var(--web-black);
  border-radius: 8px;
  filter: brightness(125%);
  aspect-ratio: 3/4;
}

.article-card .article-bg-image {
  background-color: var(--red-secondary);
  height: inherit;
  width: auto;
  border-radius: 8px;
  object-fit: cover;
}

.article-title {
  font-family: var(--font-regular);
  color: white;
  padding: 8px;
}

.article-description {
  font-family: var(--font-regular);
  color: white;
}
